@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit.woff2') format('woff2'), url('../fonts/Larsseit.woff') format('woff');
    display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Medium.woff2') format('woff2'), url('../fonts/Larsseit-Medium.woff') format('woff');
    display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Bold.woff2') format('woff2'), url('../fonts/Larsseit-Bold.woff') format('woff');
    display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
    display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
    display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'), url('../fonts/Lato-Black.woff') format('woff');
    display: swap;
    font-weight: 900;
    font-style: normal;
}

.article__subtitle,
.sumvol__title {
    color: blue;
}

.article__link.article__link-also {
    color: brown;
}

.sumvol .sumvol__title {
    color: rgb(8, 6, 151);
}

.geographi__text p {
    color: rgb(88, 185, 4);
}

p {
    color: rgb(227, 130, 10);
}

.sumvol__text {
    font-family: 'Larsseit';
}

.geographi__text {
    font-family: 'Lato';
}

.history__text {
    font-family: 'Roboto', sans-serif;
}